body{
  margin:0;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:radial-gradient(circle,#2b0000,#000);
  font-family:Arial,sans-serif;
}

.login-box{
  background:rgba(255,255,255,.08);
  padding:40px;
  border-radius:20px;
  text-align:center;
  box-shadow:0 20px 40px rgba(0,0,0,.6);
  border:1px solid rgba(255,215,0,.3);
}

.login-box h1{
  font-family:'Playfair Display',serif;
  color:gold;
  font-size:42px;
  margin-bottom:10px;
}

.login-box input{
  width:100%;
  padding:12px;
  margin:10px 0;
  border-radius:10px;
  border:none;
}

.login-box button{
  width:100%;
  padding:12px;
  border:none;
  border-radius:30px;
  background:gold;
  font-weight:bold;
  cursor:pointer;
}

#error{
  color:#ff5c5c;
  margin-top:10px;
}
